.draggable-card {
    width: 75%;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}

.dropzone {
    height: 100%;
    text-align: center;
}